@media (max-width: 1600px) {
    .container {
        max-width: 1180px;
        padding-left:2%;
        padding-right: 2%;
        .navbar{
        }
    }
}
@media (min-width: 768px) and (max-width: 1600px) {
    .container {
        padding-left:2%;
        padding-right: 2%;
        .navbar{
        }
    }
    .footer__menu {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 700px;
        padding-left:2%;
        padding-right: 2%;
        .navbar{
        }
    }

    .footer__menu {
        width: 100%;
    }

}
@media (max-width: 375px) {
    .container {
        max-width: 345px;
        padding-left:2%;
        padding-right: 2%;
    }
}